<div class="nav-container container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="nav navbar-nav pull-right">
      <li><%= link_to 'Home', root_path, style: 'pull-right' %>
    </ul>
  </nav>
</div>
<nav>
  <% if session[:user_id] %>
    <%= link_to 'Log Out', logout_path %>
  <% else %>
    <%= link_to 'Log In', login_path %>
    <%= link_to 'Create an Account', register_user_path %>
  <% end %>
</nav>
